<fieldset style="half-width">
  <legend>{{localize "torgeternity.sheetLabels.combinedAction.title"}}</legend>
  <label for="combActParticipants">{{localize 'torgeternity.sheetLabels.combinedAction.participants'}}</label>
  <input type="number" data-dtype="Number" id="combActParticipants" name="combinedAction.participants"
    data-tooltip="torgeternity.sheetLabels.combinedAction.participantsHint"
    value="{{test.combinedAction.participants}}" />
  <input class="toggle" type="checkbox" data-dtype="Boolean" id="combActDamage" name="combinedAction.forDamage"
    {{checked test.combinedAction.forDamage}} />
  {{#if test.attackOptions}}
    <label for="combActDamage"
      data-tooltip="torgeternity.sheetLabels.combinedAction.damageHint">{{localize 'torgeternity.sheetLabels.combinedAction.damage'}}</label>
  {{/if}}
</fieldset>