<fieldset class="half-width">
  <legend>{{localize 'torgeternity.skillDialogs.favoredanddisfavored'}}</legend>
  <label>{{~localize 'torgeternity.skillDialogs.favored'~}}
    <input type="checkbox" data-dtype="Boolean" class="attack-dialog-checkbox" name="isFav"
      data-tooltip="{{localize 'torgeternity.skillDialogs.favoredTip'}}"
      value="true" {{checked test.isFav}}>
  </label>

  <label>{{~localize 'torgeternity.skillDialogs.disfavored'~}}
    <input type="checkbox" data-dtype="Boolean" class="attack-dialog-checkbox" name="disfavored"
      data-tooltip="{{localize 'torgeternity.skillDialogs.disfavoredTip'}}"
      value="false" {{checked test.disfavored}} />
  </label>
</fieldset>