<section class="tab scrollable {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{formGroup systemFields.activeIfTrait value=source.system.activeIfTrait rootId=rootId localize=true}}

  {{formGroup systemFields.combatToggle value=source.system.combatToggle rootId=rootId localize=true}}

  <fieldset>
    <legend>{{localize 'torgeternity.sheetLabels.effectTestOptions'}}</legend>
    {{formGroup systemFields.transferOnOutcome value=source.system.transferOnOutcome rootId=rootId localize=true}}
    {{formGroup systemFields.transferTo value=source.system.transferTo rootId=rootId localize=true classes=transferToClass}}
    {{formGroup systemFields.applyIfAttackTrait value=source.system.applyIfAttackTrait rootId=rootId localize=true}}
    {{formGroup systemFields.applyIfDefendTrait value=source.system.applyIfDefendTrait rootId=rootId localize=true}}
    {{formGroup systemFields.defendAgainstTrait value=source.system.defendAgainstTrait rootId=rootId localize=true}}
  </fieldset>
</section>