<section class="tab scrollable {{#if tab.active}} active{{/if}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">
  {{formGroup systemFields.activeIfTrait value=source.system.activeIfTrait rootId=rootId localize=true}}

  {{formGroup systemFields.combatToggle value=source.system.combatToggle rootId=rootId localize=true}}

  <fieldset>
    <legend>{{localize 'torgeternity.sheetLabels.effectTestOptions'}}</legend>
    {{formGroup systemFields.applyOnOutcome value=source.system.applyOnOutcome rootId=rootId localize=true classes=applyOutcomeClass}}
    <div class="transferGroup {{transferOutcomeClass}}">
      {{formGroup systemFields.transferOnOutcome value=source.system.transferOnOutcome rootId=rootId localize=true}}
      {{formGroup systemFields.transferTo value=source.system.transferTo rootId=rootId localize=true classes=transferToClass}}
    </div>

    {{TorgFormGroup systemFields.applyIfAttackTrait value=source.system.applyIfAttackTrait rootId=rootId combiner=systemFields.applyIfAttackTraitCombine localize=true sort=true}}
    {{TorgFormGroup systemFields.applyIfDefendTrait value=source.system.applyIfDefendTrait rootId=rootId combiner=systemFields.applyIfDefendTraitCombine localize=true sort=true}}
    {{TorgFormGroup systemFields.defendAgainstTrait value=source.system.defendAgainstTrait rootId=rootId combiner=systemFields.defendAgainstTraitCombine localize=true sort=true}}

    <div class="form-group">
      <label
        for="{{rootId}}-system.itemsToBestow">{{localize 'torgeternity.activeEffect.FIELDS.itemsToBestow.label'}}</label>
      <div class="form-fields">
        <input type="string" name="itemToBestow" value="{{source.system.itemsToBestow.0.name}}" readonly
          id="{{rootId}}-system.itemsToBestow">
      </div>
      <p class="hint">{{localize 'torgeternity.activeEffect.FIELDS.itemsToBestow.hint'}}</p>
    </div>
  </fieldset>
</section>