<section class="tab enhancements scrollable {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <div class=" enhancements-section-heading">
    <span class="enhancements-title">
      {{localize "torgeternity.sheetLabels.enhancements"}}
    </span>
    <div class="enhancements-controls">
      <a class="remove-enhancement" data-action="removeEnhancement"
        data-tooltip="{{localize 'torgeternity.sheetLabels.enhancementRemoveTooltip'}}"><i
          class="fas fa-minus"></i></a>
      <a class="add-enhancement" data-action="addEnhancement"
        data-tooltip="{{localize 'torgeternity.sheetLabels.enhancementAddTooltip'}}"><i
          class="fas fa-plus"></i></a>
    </div>
  </div>
  <ol class="item-list">
    <li class="item-block">
      <div class="item-row flexrow">
        <div class="item-name enhancement-check">{{localize "torgeternity.sheetLabels.taken"}}</div>
        <div class="item-name enhancement-content">{{localize "torgeternity.sheetLabels.titleDescription"}}</div>
      </div>
    </li>
    {{#each item.system.enhancements}}
      <li class="item-block">
        <div class="item-row flexrow">
          <div class="item-name enhancement-check">
            <input name="system.enhancements.{{@index}}.taken" class="toggle" type="checkbox" id="taken01"
              {{checked taken}} data-tooltip="{{localize 'torgeternity.sheetLabels.enhancementTooltip'}}">
          </div>
          <div class="item-name enhancement-content">
            <input type="text" name="system.enhancements.{{@index}}.title" value="{{title}}" />
            <textarea name="system.enhancements.{{@index}}.description"
              class="pulp-description">{{description}}</textarea>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</section>