<section class="tab limitations scrollable {{tab.cssClass}}" data-group="{{tab.group}}" data-tab="{{tab.id}}">

  <div class=" enhancements-section-heading">
    <span class="enhancements-title">
      {{localize "torgeternity.sheetLabels.limitations"}}
    </span>
    <div class="enhancements-controls">
      <a class="remove-limitation" data-action="removeLimitation"
        data-tooltip="{{localize 'torgeternity.sheetLabels.limitationsRemoveTooltip'}}"><i class="fas fa-minus"></i></a>
      <a class="add-limitation" data-action="addLimitation"
        data-tooltip="{{localize 'torgeternity.sheetLabels.limitationsAddTooltip'}}"><i class="fas fa-plus"></i></a>
    </div>
  </div>
  <ol class="item-list">
    {{#each item.system.limitations}}
      <li class="item-block">
        <div class="item-row flexrow">
          <div class="item-name enhancement-content">
            <input type="text" name="system.limitations.{{@index}}" value="{{this}}" />
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</section>