<section class="tab grantedItems scrollable {{tab.cssClass}}" data-group="{{tab.group}}" , data-tab="{{tab.id}}">
  <ol class="race perks-list">
    {{#each item.system.itemsToBestow as |perk|}}
      <li class="item block" data-item-id="{{perk._id}}">
        <div class="item-row flexrow">
          <img src="{{perk.img}}" data-tooltip="{{perk.name}}">
          <a class="item-name">{{perk.name}}</a>
          <div class="item-controls">
            <a class="item-control item-delete" data-action="itemDelete"
              data-tooltip="{{localize 'torgeternity.iconeTitles.delete'}}">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
        <div class="item-detail">
          <div class="item-dropdown-description">
            {{{perk.system.description}}}
            <div class="item-dropdown-extras">
              {{localize "torgeternity.gear.cosm"}}: {{localize (concat "torgeternity.cosms." perk.system.cosm)}}
            </div>
          </div>
        </div>
      </li>
    {{/each}}
  </ol>
</section>