<div class="skills">
  <h2 class="skill-edit-toggle" {{#if editable}}data-action="skillEditToggle" {{/if}}
    {{#if editable}}data-tooltip="torgeternity.sheetLabels.toggleSkillDisplay" {{/if}}>
    <a {{disabled (not @root.editable)}}>{{localize "torgeternity.sheetLabels.skills"}}</a>
  </h2>
  {{#*inline "skillRow" skill}}
    <li>
      <span>
        <a
          class="skill-roll draggable" data-action="skillRoll"
          data-tooltip="torgeternity.sheetLabels.skillRollHint"
          data-testtype="skill"
          data-baseattribute="{{skill.baseAttribute}}"
          data-adds="{{skill.adds}}"
          data-value="{{skill.value}}"
          data-unskilleduse="{{skill.unskilledUse}}"
          {{disabled (not @root.editable)}}
          data-name="{{skill.id}}">
          {{skill.localName}}
        </a>
      </span>
      <span class="skill-line skillAttr">
        <select name="system.skills.{{skill.id}}.baseAttribute">
          {{selectOptions @root.config.attributeTypes selected=skill.baseAttribute localize=true sort=true}}
        </select>
      </span>
      <span class="skillAdd">
        <input
          name="system.skills.{{skill.id}}.adds"
          type="number"
          value="{{skill.adds}}"
          data-dtype="Number" />
      </span>
      <input class="skill-line" placeholder="-" value="{{skill.value}}" disabled />
      <span>
        <a class="toggleFav {{checked skill.isFav}}" {{disabled (not @root.editable)}}>
          <i class="far fa-star"></i>
        </a>
        <input
          class="favCheck"
          type="checkbox"
          name="system.skills.{{skill.id}}.isFav"
          {{checked skill.isFav}}
          data-dtype="Boolean" />
      </span>
    </li>
  {{/inline}}
  {{#*inline "customSkillRow" skill}}
    <li>
      <span>
        <a
          class="skill-roll draggable" data-action="skillRoll"
          data-tooltip="torgeternity.sheetLabels.skillRollHint"
          data-testtype="skill"
          data-customskill="true"
          data-baseattribute="{{skill.baseAttribute}}"
          data-adds="{{skill.adds}}"
          data-value="{{skill.value}}"
          data-unskilleduse="0"
          {{disabled (not @root.editable)}}
          {{#if skill.isFav}}data-isfav="true" {{/if}}
          data-name="{{skill.id}}">
          {{skill.localName}}
        </a>
      </span>
      <span class="skill-line skillAttr">
        <select name="items.{{skill.id}}.system.baseAttribute">
          {{selectOptions @root.config.attributeTypes selected=skill.baseAttribute localize=true sort=true}}
        </select>
      </span>
      <span class="skillAdd">
        <input
          name="items.{{skill.id}}.system.adds"
          type="number"
          value="{{skill.adds}}"
          data-dtype="Number" />
      </span>
      <input class="skill-line" placeholder="-" value="{{skill.value}}" disabled />
      <span>
        <a class="toggleFav {{checked skill.isFav}}" {{disabled (not @root.editable)}}>
          <i class="far fa-star"></i>
        </a>
        <input
          class="favCheck"
          type="checkbox"
          name="items.{{skill.id}}.system.isFav"
          {{checked skill.isFav}}
          data-dtype="Boolean" />
      </span>
    </li>
  {{/inline}}

  <!-- Combat skills -->
  <ul class="skill-list">
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.combatSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each skills as |skill|}}
      {{#if (eq skill.groupName "combat")}}
        {{#if (or ../document.system.editstate skill.adds)}}
          {{> skillRow skill=skill}}
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
  <ul class="skill-list">
    <!-- Interaction skills -->
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.interactionSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each skills as |skill|}}
      {{#if (eq skill.groupName "interaction")}}
        {{#if (or ../document.system.editstate skill.adds)}}
          {{> skillRow skill=skill}}
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
  <ul class="skill-list">
    <!-- Other skills (and custom skills) -->
    <li class="dark">
      <span>{{localize "torgeternity.sheetLabels.otherSkills"}}</span>
      <span class="skillAttr">{{localize "torgeternity.sheetLabels.attribute"}}</span>
      <span class="skillAdd">{{localize "torgeternity.sheetLabels.adds"}}</span>
      <span>{{localize "torgeternity.sheetLabels.total"}}</span>
      <span>{{localize "torgeternity.sheetLabels.favored"}}</span>
    </li>
    {{#each otherSkills as |skill|}}
      {{#if skill.isCustom}}
        {{> customSkillRow skill=skill}}
      {{else}}
        {{#if (or @root.document.system.editstate skill.adds)}}
          {{> skillRow skill=skill}}
        {{/if}}
      {{/if}}
    {{/each}}
  </ul>
</div>